#cp swiftproxy.service /etc/systemd/system/.
#chmod 664 /etc/systemd/system/swiftproxy.service

[Unit]
Description=Systemd script for the Swift Proxy service that allows for object storage on gluster
After=network.target

[Service]
ExecStart=/bin/swift-init main start
ExecStop=/bin/swift-init main stop
ExecReload=/bin/swift-init main reload
Type=forking
Restart=always
PIDFile=/var/run/swiftproxy.pid

[Install]
WantedBy=default.target

#systemctl daemon-reload
#systemctl start swiftproxy.service
#systemctl enable swiftproxy

#cp swiftproxy.service /etc/systemd/system/.;chmod 664 /etc/systemd/system/swiftproxy.service;systemctl daemon-reload;systemctl start swiftproxy.service