.navbar {
    height: 110px !important;

}
.navbar-fixed-top {
    height: 110px !important;

}
.navbar-inner {
    background-image: linear-gradient(to bottom,#cc0000,#cc0000) !important;
    height: 110px !important;
}

a {
    color: black !important;
}

body {
    font-size: 22px !important;

}

.table th, .table td {
    line-height: 25px !important;
    text-align: left;
}