{% extends "base.html" %}
{% load i18n %}
{% load dateconv %}

{% block content %}
    <div class="container">
    {% include "messages.html" %}
        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Buckets</a></li>
       </ul> 
    
        <table class="table table-striped">
        
        <thead>
            <tr>
                <th style="width: 1em;" class="hidden-phone"></th>
                <th>{% trans 'Name' %}</th>
                <th style="width: 1em;" class="hidden-phone">{% trans 'Objects' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
            <td class="hidden-phone"><i class="icon-inbox"></i></td>
            <td><strong><a href="{% url "objectview" container=container.name %}" class="block">{{container.name}}</a></strong></td>
    	    <td class="hidden-phone">{{container.count}}</td>
            </tr>

        {% empty %}
        <tr>
            <td colspan="5">
            <strong><center>{% trans 'There are no buckets in this account yet. Create a new bucket by clicking the red button.' %}<center></strong>
            </td>
        </tr> 
 
        {% endfor %}
        </tbody> 
       
        <tfoot>
        <tr>
            <th style="width: 1em;" class="hidden-phone"></th>
            <th>{% trans 'Cloud' %}</th>
        </tr>
        {% for cloud in clouds %}
        <tr>
            <td class="hidden-phone"><i class="icon-globe"></i></td>
            <td><strong><a href="{% url "cloudview" cloud=cloud.name %}" class="block">{{cloud.name}}</a></strong></td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="2">
                <strong><center>{% trans 'There are no cloudss in this account yet.' %}</center></strong>
            </td>
        </tr>


        </tfoot>
        </table>
        </div>
        </div>
    {% endblock %}

