{% extends "base.html" %}
{% load i18n %}
{% load dateconv %}

{% block content %}
    <div class="container">
    {% include "messages.html" %}
        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Buckets</a></li>
       </ul> 
    
        <table class="table table-striped">
        
        <thead>
            <tr>
                <th style="width: 1em;" class="hidden-phone"></th>
                <th>{% trans 'Name' %}</th>
                <th style="width: 1em;" class="hidden-phone">{% trans 'Objects' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
            <td class="hidden-phone"><i class="icon-inbox"></i></td>
            <td><strong><a href="{% url "objectview" container=container.name %}" class="block">{{container.name}}</a></strong></td>
    	    <td class="hidden-phone">{{container.count}}</td>
            </tr>

        {% empty %}
        <tr>
            <td colspan="5">
            <strong><center>{% trans 'There are no buckets in this account yet. Create a new bucket by clicking the red button.' %}<center></strong>
            </td>
        </tr> 
 
        {% endfor %}
        </tbody> 
       
        <tfoot>
        <tr>
            <td><strong><a href="{% url 'cloudview' cloud='aws' %}" class="block">AWS |</a></strong></td>
            <td><strong><a href="{% url 'cloudview' cloud='gce' %}" class="block">GCE |</a></strong></td>
            <td><strong><a href="{% url 'cloudview' cloud='azr' %}" class="block">AZR |</a></strong></td>
            <td><strong><a href="{% url 'cloudview' cloud='lcl' %}" class="block">LCL </a></strong></td>
        </tr>

        </tfoot>
        </table>
        </div>
        </div>
    {% endblock %}

