{% extends "base.html" %}
{% load i18n %}
{% load dateconv %}

{% block content %}
    <div class="container">
    {% include "messages.html" %}
        <table class="table table-striped">
        
        <thead>
            <tr>
                <th colspan="2">{% trans 'Bucket Name' %}</th>
                <th style="width: 1em;" class="hidden-phone">{% trans 'Objects' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
            <td style="width: 1.6em;" class="hidden-phone"><img src="{{STATIC_URL}}images/red-bucket.png" style="height:22px;"></td>
            <td><strong><a href="{% url "objectview" container=container.name %}" class="block">{{container.name}}</a></strong></td>
    	    <td class="hidden-phone">{{container.count}}</td>
            </tr>

        {% empty %}
        <tr>
            <td colspan="3">
            <strong><center>{% trans 'There are no buckets in this account yet. Create a new bucket by clicking the red button.' %}</center></strong>
            </td>
        </tr> 
 
        {% endfor %}
        <tr>
            <td colspan="3">
                {% if session.cloud == "Azure" %}
                    <img src="{{STATIC_URL}}images/cloud-Azure-active-alt.png" style="height:280px;padding-top:70px; display:block; margin-left:auto; margin-right:auto;" usemap="#cloudmap">
                {% else %}
                    <img src="{{STATIC_URL}}images/cloud-RHPC-active-alt.png" style="height:280px;padding-top:70px; display:block; margin-left:auto; margin-right:auto;" usemap="#cloudmap">
                {% endif %}
            </td>
        </tr>

        </tbody>

        </table>

        <map name="cloudmap">
            <area shape="rect" coords="0,0,500,208" href="http://azr-storage1.southcentralus.cloudapp.azure.com/cloudview/All/" />
            <area shape="rect" coords="500,0,998,208" href="http://storage1.redhatkeynote.com/cloudview/All/" />
        </map>
    </div>
    {% endblock %}

